<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tractor</title>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/lobby.css">

    <script>
    </script>

  </head>
  <body>

    <h1> Tractor </h1>

    <h2> Welcome {{username}} </h2>

    <h3> My Cards:</h3>
    {{#each cards}}
      <div class="card {{this}}">
        {{this}}
      </div>
    {{/each}}

    <script src="/js/lobby.js"></script>
  </body>
</html>
