<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tractor</title>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/room.css">

    <script>
      var roomName = "{{roomName}}";
    </script>

  </head>
  <body>

    <h1> Tractor </h1>

    <h2> Welcome to room {{roomName}}! </h2>

    <h3> My Cards:</h3>
    {{#each cards}}
      <div class="card {{this}}">
        {{this}}
      </div>
    {{/each}}

    <h3> Cards Clicked by Anyone:</h3>
    <ul id="cards_clicked"></ul>

    <script src="/js/room.js"></script>
  </body>
</html>
