.rooms {
  width: 200px;
}
 
h1 {
  font: 600 60px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 600px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  cursor: pointer;
  opacity: 0.5;
  background: #f6f6f6;
}

#roomName {
  height:30px;
  font: 150 15px/1.5 Helvetica, Verdana, sans-serif;
}

#createRoom {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 30px;
  background: white;
}

#createRoom:hover {
  background:#f6f6f6;
}